<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>cl.controllers.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMisEstadisticas</servlet-name>
        <servlet-class>cl.controllers.ServletMisEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroRuta</servlet-name>
        <servlet-class>cl.controllers.ServletRegistroRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroVisita</servlet-name>
        <servlet-class>cl.controllers.ServletRegistroVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroVenta</servlet-name>
        <servlet-class>cl.controllers.ServletRegistroVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrarVentaClientes</servlet-name>
        <servlet-class>cl.controllers.ServletAdministrarVentaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrarEstadisticas</servlet-name>
        <servlet-class>cl.controllers.ServletAdministrarEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrarProd</servlet-name>
        <servlet-class>cl.controllers.ServletAdministrarProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrarMetas</servlet-name>
        <servlet-class>cl.controllers.ServletAdministrarMetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContacto</servlet-name>
        <servlet-class>cl.controllers.ServletContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrito</servlet-name>
        <servlet-class>cl.controllers.ServletCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrito2</servlet-name>
        <servlet-class>cl.controllers.ServletCarrito2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMisEstadisticas</servlet-name>
        <url-pattern>/empestadisticas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroRuta</servlet-name>
        <url-pattern>/registroruta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroVisita</servlet-name>
        <url-pattern>/registrovisita.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroVenta</servlet-name>
        <url-pattern>/registroventa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrarVentaClientes</servlet-name>
        <url-pattern>/adminventaclientes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrarEstadisticas</servlet-name>
        <url-pattern>/administrarestadisticas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrarProd</servlet-name>
        <url-pattern>/adminprod.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrarMetas</servlet-name>
        <url-pattern>/administrarmetas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContacto</servlet-name>
        <url-pattern>/contacto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrito</servlet-name>
        <url-pattern>/carrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrito2</servlet-name>
        <url-pattern>/carrito2.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
